 .u-section-1 {
  background-image: url("images/77646058_SL-072622-51930-04.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 766px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 146px auto 0 37px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 175px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 29px auto 0 29px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 150px auto 0 29px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px auto 60px 29px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 696px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -546px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 689px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -462px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 624px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -360px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -18px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }
}